dist
dist-newstyle
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
xmonad.errors
history
xmonad-*-*
*~
tmp

# I don't want to treat these as submodules or subtrees
# of this repo, so just ignore them.
X11
X11-xft
xmonad
xmonad-contrib
xmonad.wiki
xmonad-log-applet
